h1{
    font-size: xx-large;

}

body{
    background-color: aquamarine;
    width: 500px;
    height: 150px;
    
}

.img{
    width: 200px;
    height: 200px;
    background-image: url('../Projetinho/download.jpg');
    background-position: center;
    background-size: cover;
}